.container {
    width: 24rem;
    height: 37rem;
    background: #ffff;
    border-radius: 16px;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.25);
}

.header {
    margin: 3rem;
}

.welcome {
    display: flex;
    justify-content: center;

    color: var(--rocket-purple);
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2;


}

.underText {
    display: flex;
    justify-content: center;

    color: var(--gray);
    font-weight: bold;
    line-height: 1.5;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer a {
    color: var(--gray);
    text-decoration: none;

    transition: background-color 0.2s;
}

.footer a:hover {
    color: var(--rocket-purple);
}